<?xml version="1.0"?>
<configuration>
  <appSettings configSource="Config\AppSettings.config"/>
  <connectionStrings configSource="Config\ConnectionStrings.config"/>
  <system.web>
    <customErrors mode="Off"/>
    <pages theme="Standard" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--custom controls-->
        <add tagPrefix="shaz" tagName="ImageManager" src="~/UserControls/FileImageManager/ImageManager.ascx"/>
        <add tagPrefix="shaz" tagName="CookieManager" src="~/UserControls/CookieManager.ascx"/>
        <add tagPrefix="shaz" tagName="CreateUserWithRole" src="~/UserControls/UserManager/CreateUserWithRole.ascx"/>
        <add tagPrefix="shaz" tagName="ManageRoles" src="~/UserControls/UserManager/ManageRoles.ascx"/>
        <add tagPrefix="shaz" tagName="UsersAndRoles" src="~/UserControls/UserManager/UsersAndRoles.ascx"/>
        <add tagPrefix="shaz" tagName="ManageUsers" src="~/UserControls/UserManager/ManageUsers.ascx"/>
        <!--<add tagPrefix="shaz" tagName="DateSelect" src="~/UserControls/Validation/DateSelect.ascx"/>-->
        <add tagPrefix="shaz" tagName="Email" src="~/UserControls/Validation/Email.ascx"/>
        <add tagPrefix="shaz" tagName="Name" src="~/UserControls/Validation/Name.ascx"/>
        <add tagPrefix="shaz" tagName="Number" src="~/UserControls/Validation/Number.ascx"/>
        <add tagPrefix="shaz" tagName="PhoneNumber" src="~/UserControls/Validation/PhoneNumber.ascx"/>
        <add tagPrefix="shaz" tagName="PostalCode" src="~/UserControls/Validation/PostalCode.ascx"/>
        <add tagPrefix="shaz" tagName="SSN" src="~/UserControls/Validation/SSN.ascx"/>
        <add tagPrefix="shaz" tagName="StreetAddress" src="~/UserControls/Validation/StreetAddress.ascx"/>
        <add tagPrefix="shaz" tagName="WebSiteURL" src="~/UserControls/Validation/WebSiteURL.ascx"/>
        <add tagPrefix="shaz" tagName="Year" src="~/UserControls/Validation/Year.ascx"/>
        <add tagPrefix="shaz" tagName="YesNo" src="~/UserControls/Validation/YesNo.ascx"/>
        <!--end of custom controls-->
        <!--<add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>-->
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0"/>
    <!--security settings-->
    <authentication mode="Forms">
      <forms slidingExpiration="true" timeout="60"/>
    </authentication>
    <machineKey decryption="AES" validation="SHA1" decryptionKey="32B92D39A29385C2FAA2D6DC6F81047DAC95F080ACAA28B2D5060F7C0BB738AA" validationKey="2C329B442EC6F5F512E66507A2B51F45144D97812291FFD85968BDF9F037BABB"/>
    <membership defaultProvider="SecurityWebshopSqlMembershipProvider">
      <providers>
        <!-- Add a customized SqlMembershipProvider -->
        <add name="SecurityWebshopSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="WebShopConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="Webshop" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SecurityWebshopSqlRoleProvider" cacheRolesInCookie="true" createPersistentCookie="false" cookieProtection="All">
      <providers>
        <add name="SecurityWebshopSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" applicationName="Webshop" connectionStringName="WebShopConnectionString"/>
      </providers>
    </roleManager>
    <!--end of security settings-->
  </system.web>
  <!-- Update the <smtp> settings -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="youraddress@example.com">
        <network host="smtp.example.com" userName="username" password="password" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!-- Only allow authenticated users to view ChangePassword.aspx -->
  <location path="ChangePassword.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>