<?xml version="1.0"?>
<appSettings>
    <!-- SITE SETTINGS -->
    <!-- Current version number -->
    <add key="version" value="1.1"/>
    <add key="year" value="2010-2011"/>
    <!--Product & Test Mode-->
    <add key="SiteTitleTest" value="Webshop System Test" />
    <add key="SiteTitleProd" value="Webshop System"/>
    <!--production mode-->
    <add key="ProductionMode" value="true" />
  <add key="TestMailReceiver" value="el_saabi@yahoo.se"/>
    <!--cookie name-->
    <add key="CookieName" value="WebShopCookie"/>
    <!-- webserver settings -->
    <!-- N.B address must end with / (a slash), ie http://www.mysite.com/ -->
    <add key="WebsiteAddress" value="http://www.elsaabi.com/"/>
    <add key="CompanyMailAddress" value="order@elsaabi.com"/>
    <add key="CompanyName" value="elsaabi.com"/>
    <add key="SMTPServer" value="mailout1.surf-town.net"/>
    <add key="Port" value="25"/>
    <add key="User" value=""/>
    <add key="Pass" value=""/>
</appSettings>