<?xml version="1.0"?>
<connectionStrings>
    <!--<add name="WebShopConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WebShopDBTemp;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
  <!--<add name="WebShopConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WebShopDB;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
  <add name="WebShopConnectionString" connectionString="server=msdb2.web.surftown.se;database=turkman_webshoptestdb;UID=turkman_sqlserver;PWD=RK1JYPGQ" providerName="System.Data.SqlClient" />
    
  <!--<add name="WebShopConnectionString" connectionString="server=msdb5.surftown.se;database=Nordic_webshop;UID=Nordic_webadmin;PWD=Hq5CuZ3" providerName="System.Data.SqlClient" />-->
</connectionStrings>
