<?xml version="1.0"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="SuperAdmins" />
            <deny users="*"/>
        </authorization>
    </system.web>
    <!-- Allow all users to visit RoleBasedAuthorization.aspx -->
    <location path="Category.aspx">
        <system.web>
            <authorization>
                <allow roles="SuperAdmins, Administrators" />
            </authorization>
        </system.web>
    </location>
    <location path="CategoryImages">
        <system.web>
            <authorization>
                <allow users="*" />
            </authorization>
        </system.web>
    </location>
</configuration>

